<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576.0000114440918, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2017-03-27 13:23:10 +0000</string>
	<key>Creator</key>
	<string>Paul Ruvolo</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>32</integer>
			<key>Points</key>
			<array>
				<string>{143, 288}</string>
				<string>{362, 176}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>Points</key>
			<array>
				<string>{141, 290.1719970703125}</string>
				<string>{369, 188}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>Points</key>
			<array>
				<string>{141, 289}</string>
				<string>{379, 208.02477913881273}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{273.70456504821777, 270}, {26.59090909090909, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Rotation</key>
			<real>350</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Points</key>
			<array>
				<string>{141, 290}</string>
				<string>{392, 241}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Points</key>
			<array>
				<string>{141, 289}</string>
				<string>{338, 144}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGfX5YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpOUVVZWmBk
			aGxwdHlVJG51bGzSCQoLDVpOUy5vYmplY3RzViRjbGFzc6EMgAKA
			GNwPEBESExQVFgoXGBkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0WXBvaW50U2l6ZVhiYXNlbGluZVhwcmVhbWJsZVd2ZXJz
			aW9uXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVG1vZGVVdGl0bGVU
			ZGF0ZYAEgA8jQEIAAAAAAAAjAAAAAAAAAACABoADgACAEYAXEASA
			FYATVTIuOC4x0igKKSpXTlMuZGF0YU8RZdclUERGLTEuMwolxOXy
			5eun86DQxMYKNCAwIG9iago8PCAvTGVuZ3RoIDUgMCBSIC9GaWx0
			ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4Aa3QsQrCQAwG4N2n
			+Md2aLxc7nK9VfABCgcubqKDUKHSxRd39lpPhY5SMiSEwMefAR0G
			mFzq4RzuZxxwyyshnddTb9ioknqLxtoQKEbBqccuIVJU+z4so42B
			nEIlUKtuk3ps04PBSBdUzxrpin2a0f8Fn9WJ8CTcFsIWIq1BiBGK
			siQ+KY7VOkb+EC9SSEkxriIwkzPtgvimqH9G9wIW1G1VCmVuZHN0
			cmVhbQplbmRvYmoKNSAwIG9iagoxNjMKZW5kb2JqCjIgMCBvYmoK
			PDwgL1R5cGUgL1BhZ2UgL1BhcmVudCAzIDAgUiAvUmVzb3VyY2Vz
			IDYgMCBSIC9Db250ZW50cyA0IDAgUiAvTWVkaWFCb3ggWzAgMCA2
			NSA0NF0KPj4KZW5kb2JqCjYgMCBvYmoKPDwgL1Byb2NTZXQgWyAv
			UERGIC9UZXh0IF0gL0ZvbnQgPDwgL1R5MyA5IDAgUiAvVHkxIDcg
			MCBSIC9UeTIgOCAwIFIgPj4gPj4KZW5kb2JqCjMgMCBvYmoKPDwg
			L1R5cGUgL1BhZ2VzIC9NZWRpYUJveCBbMCAwIDY1IDQ0XSAvQ291
			bnQgMSAvS2lkcyBbIDIgMCBSIF0gPj4KZW5kb2JqCjEwIDAgb2Jq
			Cjw8IC9UeXBlIC9DYXRhbG9nIC9QYWdlcyAzIDAgUiA+PgplbmRv
			YmoKNyAwIG9iago8PCAvVHlwZSAvRm9udCAvU3VidHlwZSAvVHlw
			ZTEgL0Jhc2VGb250IC9aQVlKTFMrQ01SMTAgL0ZvbnREZXNjcmlw
			dG9yIDExIDAgUgovRW5jb2RpbmcgL01hY1JvbWFuRW5jb2Rpbmcg
			L0ZpcnN0Q2hhciA0MCAvTGFzdENoYXIgMjQ2IC9XaWR0aHMgWyAz
			ODggMzg4CjAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAg
			MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAw
			IDAKMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAg
			MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMAow
			IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAg
			MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwCjAgMCAw
			IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAg
			MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAKMCAwIDAgMCAw
			IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAg
			MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMAowIDAgMCAwIDAgMCAw
			IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDUwMCBdID4+CmVuZG9i
			agoxMSAwIG9iago8PCAvVHlwZSAvRm9udERlc2NyaXB0b3IgL0Zv
			bnROYW1lIC9aQVlKTFMrQ01SMTAgL0ZsYWdzIDMyIC9Gb250QkJv
			eCBbLTcxIC0yODEgMTA0MCA3ODFdCi9JdGFsaWNBbmdsZSAwIC9B
			c2NlbnQgNzUwIC9EZXNjZW50IC0yNTAgL0NhcEhlaWdodCA2NjYg
			L1N0ZW1WIDY5IC9YSGVpZ2h0CjUwMCAvU3RlbUggMzEgL01heFdp
			ZHRoIDExMTEgL0ZvbnRGaWxlIDEyIDAgUiA+PgplbmRvYmoKMTIg
			MCBvYmoKPDwgL0xlbmd0aCAxMyAwIFIgL0xlbmd0aDEgMTQgMCBS
			IC9MZW5ndGgyIDE1IDAgUiAvTGVuZ3RoMyAxNiAwIFIgL0ZpbHRl
			cgovRmxhdGVEZWNvZGUgPj4Kc3RyZWFtCngB7XlXXNNd1yWIIAQR
			6UXKH6RKDb1JJ/TepQYIEA0JhNB75wERAUWRIlUhCAiCVJUqoPTe
			QbpSBeltYnnf53vemflmruc3uUjO2XuddXZZ+9yEk83AWEDJCeUA
			g6CQGAGwoLAMoKJrBBYGhIVFBYWFRUCcnCZwDAL2xwziNIOhPeEo
			pMx/AaigYVAMzqYKxeBwuigkoOWFAMCiAFhCBiwpIywMiAgLS+OY
			fgFRaBlAFeoNdwJ0BQEtFBLmCeJUQbn7oeEurhjcNf9aAjyOvABY
			WlqS/9dxQMkNhoY7QpGALhTjCnPD3egIRQDGKEc4DOP3DwoeOVcM
			xl1GSMjHx0cQ6uYpiEK7yPPyAz5wjCtgBPOEob1hTsDPhAE9qBvs
			d8KCIE7AxBXu+dtujHLG+EDRMABnQMAdYUhP3AkvpBMMDeAuB4w1
			dQB9dxjyN1jnN4Af+FMbACwI/jfdn9M/ieDIX4ehjo4oN3co0g+O
			dAGc4QgYoA/REcT4YvgBKNLpJxCK8EThwoF6Q+EIqAMO8CtyKABR
			MgSguBr9Sc/TEQ13x3gKesIRP1MU+kmDq7Ia0kkF5eYGQ2I8QT+T
			VIWjYY4YFNpP6Hdn7yFRPsiAPxtnONLJ+WclnLzchUyRcA8vmKYq
			8BuCM4H+trnAMIC4sLCwpLQoAPMAYL6OrkI/6U383GHATyf4pxmX
			QVCAO8odcMYlAQuCO8NwP6AAT6g3DMCgvWBBAf/V8c8dCAwGnOCO
			GMAB5gJHgv5mx5lhzr/3uOaj4b6AlTBOnGAAJ1Pg75UNTodOKCTC
			72/4r/4KGWiYaBjq8v1O/99UysooXyBAQEwYEBARFwbAOI0CkrhF
			0D9pDKDwP0kK/82riXRGAdK/o8WV6V8Re/8eDoDnz/TwAv/k0kPh
			VAsDeP4WubWwuLAj7gv8fy114OeR/5XCf7L8n0T+nwFBvBCIXzXi
			+VWc/8kNdYMj/P4AcKL1wuAGQBeFGwPkf0LNYT/nF+DRhTnBvdz+
			06uJgeIGQQnpghPznzLCPSFwX5iTARzj6PpbLb/La/pzyhBwJMwA
			5Qn/+awAArjW/IcPN6mO93BPhydOkr9cMNzk/LPWakhHlNPPERMR
			lwCgaDTUD4RrMm4nDgSAcbPoBPP9JWJASBCJwuBUAeDSCwKcUWjQ
			z45KiwFCjnC0o5ebMwKHxPl+mXFqEXLHPQxIBMwZ87cV/Mf66xH7
			Zf7fBGOMwU0IFO307+h+ytHRC41jxPzSPi6Rf+1/vQ0wmC/METQ+
			gnKUjbxbEdlw+Frpho/AUs/tQc4l86e8AgHj6Hdex9euPOYtywif
			Re8rPe5svj61oMazpzjBehawVlt5JaYuxbD+JPDULsmof6keNNZH
			+7E3f03pTRszCZOAieJy4JlHoFnYPYJa/A9anNkeXlLXDHKpDn1a
			1X3ftGEnu6JHlgyXyyS0SU+xAwIJpvetw14OceY4ZA7TsxNhBJiJ
			b1Fu+5IP7e0PUj7vvWDVSuIDBa0niBYE3JkTeXA07D/9ykTEs5GB
			g+EOPTPBHmVXP1eA8mqqFt1oQGHB1Mcx31q5AtbnZPxPpgSuC66K
			pJfBjeKR1S3l3l3j78GL2Y+BSO4bH6kWU8qLqqnt0Oz6NGX1dvFU
			mHLRezDm1ffOytMN+2ZNznefME1ID7y5AIbILF3XQmuaAk4qPaY7
			P30UOIh+UnfYWf1poSnI/KVCmwKTiw/4lpqrVdzUpEw68xNCLKb7
			UqM5TJP6Ov+E92OpU0JolFxA+HflY0bwfL6w8B0pwhb8LqZN8ezA
			7w+CSqq29d7PDVGMInwobSIuIiT0Lhw+PNnezmdwFVWzz4jmyUlX
			a/orZyaR21C2AlY1FIEV2p4roRVULfJj1UmeFx/73s5RIKap3rI0
			WtoZZx3ud/dIOk9w06zEtP6heJ4h2+J6vED3alVYh3JEVKv0vtPq
			/H5xsbItzVeU2dF2iU+scueDLyaSkTl/vTcKfd7oqZ+mrhR/6cXB
			wnALicPNDRNlbza36kRyc5PbxwvdjS9Offixmqqc3AXjum3aX+Vi
			AsdtxlQLWhhehyrS/rVXHSpS8U7/kAfvasb16QecGcuTBDft3nVW
			m30/Z1S+YWxymHvTfw6vZXSge4Htc/8CRwCixPqlWGsNICt+P40A
			kcTFNroQ+mx39jbP/bhz57iaGVMfpcoJpvL0oY+w2fWOrsvKN6+8
			ExWmlu9Z1wDyi7gzZnQK+KgvRlKy7s77ZyoesybW3C71tK6Yod6T
			iyq+bd1oic8xq6oQa/qNpG/5VOLx8wFf9RxDZHvxjWdxDIvwMs6R
			R1lso/0gHRE8unKrrGcUPxYKQnjZ7jtHWYQTO65SxBPjLcgNc1N3
			VCSmfjeiMhBVy2GLFJApp+CmmDvvU7qmRV4mSDjeWqGi1YOnhcHi
			cbUESBI9lCgH3Qwz62vpa1wbHtEYvpGyGy9U9OkaZNTFhx0i/ijR
			57txLEdg2UUYylCuZ6XnCSlpv33wW7lMFrBwUSBx2oVc/Ve3rcrq
			o7GMmU7X7ZnsyNmSr6HEVVWvX6crdDLYK+xKpq7Rktp1ZRNaPX6/
			K+VrICcGHmbevY3pPdTAmyAnk5VIq60JQmt7gb+KnjwzVcEjhD+j
			rdTAlFT0Dwbt+9GzjJwHO7JwWs96bIVa19Uti+mLebNZpdsdaNbl
			vt56U3ZK83HZMZ5ReJa5eEdX60j3uaXwq65E7wCJWfpHI9aHLcAl
			9HOPzmfsogy3DwgeZZoMWGoLTmnTf+vkbeKnU/+kHQCNVbmjrJ71
			DsTC7DfJcy1Omzu6RURfeNDsSamEpgEHB+Lk6/GrGoEUujmrRvq1
			IVh3Z/xhOyMxg3bXKJcIp8sjhzL/mAOtLoY0fi9UsO4rkVZ6/xmv
			5LTsmCGJW8/qb70ga2smK+6/kP7QUzir0Jqn/YjWkZf+c+/BF+tt
			l+eYEi6FooUHva0/TpBEJms+71KWGziynfSsVWrS83sm9PdHehUL
			zEV8WVelPNh0nAZKF26g1oIXwWZC9zuUbyuW/zjeYBNObrLMQfkf
			cWwc9R20h3K2lnzo76Tx+TLzRcQGhW2ZBUrtzhQ0XT+Te63mKLtt
			QojoZKrA14jHUp2Iizr8JA7CGydmAGYIWWEkvQ5S3HjHh6tIYG3w
			dVmWuv9hofQ3+tsd3MmLPF1nDZqnrnrHlSMBi/qUwLWnYAIdb8dh
			NxpCeNWLRq4Odt31b26titXmw9El9PklblMOnMLjTwlvHds/W7vS
			mpMymyLkvNeSiXjHaaAmkiPDYqbEa6ysI7Qsh6XdFKfCqmQp5c0e
			ZCJkSwM+N5Ly3KwbsyBEQoiS2Ynj8Z7iRUoFGI2hkimaWk3oeBbt
			zLcvOSidh2gHonRJ7ahGBp+YU8yeMyW9I/Nb1F29kAgtzi63fXcA
			xWSxEivqg9dyhDLxIN9ZH70V9WO5mbbgSK6rO9qn3nbnbNqKwO3V
			RZ1/731ICBEJJQJ7VMzerCVfCrs8ZqacaK7MFLRixvvw8pRxxySc
			gT9nK2zm5ZYRJW0NbcG7ekhCOwH2nUGm4Oo7ncv9ob6Hl1/Q21n1
			WJjFUtC17/4wzC4jMzG42POOyD4CwT7xJ7ufTzBGoENcU45rUrxo
			vz+MvG/PhwhgJD6AGR6MPLRTdKaTEGXUmDWAevf7M5h209i9ft5N
			/fFOMZjlFnaxPYGyLFGXr93BPTRaNmAa20USVmIoSrtqZiY7ltPQ
			HTt4jYyyVF9QP2sOzt8gJVU8whKx3hId5fL8tvXtOUV2yNyxNuTQ
			JMfh5GnSe7OwBwgehEtpU+aEw0BJwjRbzSp2OHX4s/WXsyOomCGY
			7nVXMFAsPe9hVlDzsqsASPa0vbeR6+n0IB15zT+pifhKSd5KvswI
			k06WP4PNA4ptLJo0riAXG+Gtp/o+XlddUppDUwd+zpWiNOZy4wsS
			IeGHH6NFkgjRr9qR0yZZWjPoztd/oKRE/8k7OiVkZgCRy7VSdWi5
			NFrJPd6DZz7RtxTB1ZgrHKYNnDPQPBOCk8DHB7xIHLIYm1VAUu2t
			/koaBcPPRfFBfoI7Vtm+tfPTGLCSVwk286q7Uq+glVie8ZiIg88j
			PkcAU5S/qQdjpHdlUu2qmCZtY09jYwleLJblk3S3zvfxZaC0nFcH
			2U6Lq5V2T62m0FAyPbebqk1Vrzr4sv01lIdF6Sqimqp/E2w/JeUl
			uOvFt7kwzn68Ky+7zR/i31nZzwlC1ZfNZvsSdAg/9QynGOlgoDQH
			Q3x7N4dWn8wCLuduSQlVvmZ+e1UTFP2Z7DY3/YPpn7x0995pIstk
			jk5K2x9rKxREK0v/xUGDrLFUKVEBH7disE6KNw8KpfD67unFDMVr
			v8bPHpTNa/w2lIIIgxzzEJGO3dfbjXuBLzv3pcDp/FXzyQZ+csn1
			09lbDXFyH1/kPF5oo4qkwhJ4Nr6QlqtSTyRTUbOPMvua6zr3rrOV
			k8YwpQdSgDJ41zrfTxERwoF9+I69X1S04cBAelR6/U6Cp3QMPrf9
			QgkL2Tp6wvxIRu9RwXqH5+Be+6NqVkUi54irGbbM5tNRXCJiPpRF
			CH/SZY4hEfMtqgqf6aiP6/rSDhd5S+z6L55Tfeo2b7kFobSZFnph
			74e9b1hOEtv5yNrwcfMNyC3sFNyE9nvCqq0esO9kl6drH5Efbcxp
			8kavTlsysYyYzyhtZN0KXZB+2mG510a1YekBC2ooH2O6WhB/MGYZ
			Y3D8A9QDwTdVy13fPb+/Pagd0ThMrnGfu6JKHv+OoWIPueb4HIYz
			b/EiNaPRqpBXspXr/Wm2aw8y82o5w1dL7qFJaPNbk5bv3BbokKHZ
			NCGkHfIxgZZODi0pMU+qIqhiJftz3zNQSZUec4A2pGp2ctv2XrrD
			TDPyWzDthr1OWZ4N8SQ03zQHv7Yt4DSW0nt+S2d2qm45VyzlB/gp
			RwgV2k3pYtPzMXXzx90d5J1Zgltp9beLDj557m2j0qkdFAOS/EZI
			idlUVFjjA+gciQXNQ+68Xd9iWRamQ5LOObhHuXgaPHXiEOi33i/r
			GUrn0pFz/3CZsoYcQXU1sDY4vVJq9ViwszX1LZ9zT7u/X6F3BOsX
			uwpl/9JPMc+jf4goeA81EBNd+rbbsDca02KBD81jk2IYzncDpU7G
			0Lv4jLNdAREfSi5BSCwV/Yxtgr9HPb+UVnKEQCmPfH2VQsKamunN
			Jny0Wh0HeRR+dXr2eLNIbRZqFRvufGjgKxaqEZVNE/jtivlppeyk
			OssI9XVLKnZR5R/i47uny4dfNKzZB4utiA7BqT1pG47ieofSWHd5
			EUmteuWz3SpPIYLNuLcuPD+KfGkM+a9h5K1K56W6U9Q922rCZFiN
			OKRtJKi5Yo/d/Ep54VUMcd6dX+8275sXxuu0GinbMhspQxEf1nzf
			2GWPWmbKVIjrviy7PLu8OUm9FXeF6kF9CXnVjZDCE6G7+VFzbeM5
			bEEz9o8211S5zJlCO7CLI4YWtRxEGrMvV8i7MJr5JQ0kIR3DguOW
			TN8Vx5A0xejU63Y/1pFTYc3EZO/1TxcwSnqEAjpkyNT4JwqEdjO0
			tnZRky7UyVXBWbQfE2UT7Fle920UaivHzGxLwFrfNk2xliXVgOQf
			rSI+GLonRTMW54YM8jZGv808qirYEUqQvWLMwH3VtnZPZhFzWav8
			ruI3at/iNxFqPMLqn2R76mgmDT0uPShqf3TPhLt2O+u6bJbcQ48b
			yLFFrzAMQkcFnGLRCoh3Mz4BeSSNtnoMFIQpLMb3+YNVjPkamfIM
			wC3BLLDOS8Yi3aSixVqpuhOfIh8jeL4PVnEQs9TBOg2XhNzc9cS1
			JfHNz2Bxgbwtk2Mz0DiN1JK5O7WDZWJeCaZBH9paV1p+FBJRmwL9
			bJ9TLR+vf8M7YhvC1yQeslwqHHzOoM256ligVlazznKSflt5vEvT
			5kaoMRH4ALi5O1hH4Xqty8owWscVaymwFB5sjD73g4oDugaW6kXD
			fbIs0pcTmGwuF/XTWeLRxkcpiocmT8/28zCCDjOS5EkzWyKqO1U1
			7sbkXl/wpEHThPtOpYKWBZvlJ/pGyspyeu89KZ1AtMpypZbdlFuZ
			ePZ6B/aQ17l/EeKfbl/dXq2Qu6DpiKdorMGVKndB2JC8eRnmjcST
			ogrLhIQzWS+YlWNF23ahJUpsfn4NCzLfB/mosxzZ8ny3CVPDHXp1
			z0f++iLkHCQ6m5q+9vlF+wK7elEqRckKt7OuZ/+VIVYLc9OzoNP9
			quoay9aqBFvS0KFRzrvd7Wwa77fi9TUuiDu7H7DaHb2Nl12NqejZ
			CUma16rxzrlWEWYzdRPEMX4FSz7JreKqECaeJhdpTH/GXL/x+XXT
			d8WUEvpMkmfQV5WhAtRpSiGOcdFfEShz/Epdnp1EIjRe9cubk/aj
			fUjLgLuT9qKBiEvezKX2ddyaiOyzkLlytqXK05y9QYPmT+sBj3KJ
			1Mqebt3ucYeu2pKGjbmu6d8jsM+s3kxfcD88vloi5eU3xYHeSZ3e
			fewFcg5y9GjhE2/yC2Y7m7YZzjy+cdi4fs2UvwT/PSabdxkuo7GT
			/V4/qnWSp9QOph/2lRli9v7co4+IVv6V1+pcq4C6TOyX763+EVlR
			6Rp3rDkTTTe8xxrxWMj6/Bds6ec+Kyf4cYbqmczXvBW9TV9qsTan
			0OBGrZV8SCswKBp5wAxfGNVQnHoY5twbcXavxkhwLX3vzJs7tN1N
			kJK723ihWbW+axzhd8pKL5lCm3vVcm9E5U1Jm9vXKtu3Zepe4nbq
			6VcOq8bBL07IMUL3h0jP5xK65rdBc2J/lYNLkLF2J6ryQe5EfMvO
			WBdpVw7m48I2fBvFLd0j+zHbgVp17X1Z8WKifJ/2tfrLi5pojy2l
			QlFnpfBZSwq416vQ5unFlp13/VvrA5SW6OtfmVX39mUSEyacWK4Y
			FRBMAylKGIqrawLYh/zUvPN1UGx+Z53rfK+01dBLrwti4xV6ae1k
			hkiKVhPtIqgFx6KPS2fKW/0Iq/lLvvE3PNoj8vwua/KkXjTcvS6u
			8xKr2ehYFRToytLIkeSvOk9l2tv80KfeMoHv3dmrOzI9Wyutvflt
			GeAPO1WIkHFY4412fHuvQ8VLjIGXX62z0oxMxa5WPvtoOyFxY1Mo
			y6//xB66nUP5ooMszqqsJ+66/cD7LrWsvGYfxibCdSjLjas5/svw
			HR1oJB1l0N1Pr1c6FU/y4paC2kJ8yZe3zN8SXklbQsZ4PngqjLx1
			LeBaGULhTpH/bvzjT5Tx8jUrUhus7gI6/VwdeScEW9r28oB9ZSFn
			s31q7ub0h05PrEKd9+f6j7bWp3/dSqYZOTP89KVQz8E5im+y4f1M
			ZBaKnSRh/KUpSYN//67LN5du6OKDh16VkOz+NLkWKotjv+ka7Ku+
			S8e3Gi51uOxfiClYiNg0PxQr1HjWnZs+uvPMtqnPQweGqsh4arqx
			G3z1oCA5uU9Sfp33Y/5umgbyYdalusISJUn2rwGq0UZyQiKYM922
			9h9HnksvQk/uSWta/Eh2zivK6CeYv+g9O+GjGn9hobb+MvV6h+C3
			L2yNfS3st7QmjSWvNU5YspQRM60Sbt2dJGPmGhhXWtW6yle8HPuh
			tp6YcoLy9l6qXs4Sh4R3hTGjiSXFXzcn6Ut1nlyI9bzcXFFIx+vl
			3l8/aDkKgdA5manrjPDzrdB60rxSP8+fsxWqKfKobLncuY/ver+N
			/NXR0R2WV/6RqkUYxauiBzDKZ+nPV3XHFOXv8sqZu9ov6jbEyl+M
			5nZeBH+BzW2YqWoNBz6pq7MgD+p/qYKO66D7aNKh1LFK6kx/dulp
			XvIjgyBZwjj2wQbt/cGbPUkm2dXXIAfH1iuMZwe2QykEzIwEpLJp
			JI2B34wAVevWcDINryGJC8O2s76n3JmGoh0Osr43ax6wiu6yGnfJ
			YO86UGxMctZgtJKuCMl/ytG/2MxgRpvNhDUz+Nq8riVqkOed33re
			VGUTisg8IhBHvb9utZLTB5G9zq/HVchNBS+Ksy7XM2zS3NEY6v7R
			x9qoYCKzoTgG2aJb0bsgvWJs0TQtXC73irfedc58hCjsnZhzLUS1
			2jVxUnDsjcklXltjwn4BliikT9AZP2nsHb0aNZo+FfwfZQeklqQJ
			RoSwKv/mof1t0YYBa9DbMczG+bnlF3H7RDpIsF26b1NCBIFpVmA8
			t0VyVXtMpLoiuenIdQlNUmvWtMiVqX35U5lOM7uTS53ywy+kb2kK
			B9EOVlmzB4zREG+Jmk74f/ze6bUIyXAm6BrPj9ozmC38xKv2MFaK
			PPzUtCDj2Ie3dNuFKu4zjceQzJzT3ZsFtWVTNLGuVzzaSQsyGjxR
			ZAK1iskgbQJ1ycQF9pJAw76YS8vY4yXgzo6/Z2BUeFBeq85wpTFV
			XIFMqDN22K3hZbOS6FbiyLYxqUjrbYakEas3TtVjKadaGdZTb2hZ
			Sph2aB3XJ+hDT4/IA4k+Y97fBfd/TFdaQZ/H0ZQ29peeM3RpeTfz
			a7MG4pPsVEb1PjabefgwA/T0NN0wstJqakbOtMlChuly+MSkgiPf
			PudcOcmGXv2UsrG4dPRhRNMb/ARsFnvLSGvGG5dVk68N04u2DkXm
			bcREkzwVtziA+z5Erw5XeWni7qcsRNlS67GhS1os/QvkCqK56NBP
			ZJWcNFVu2AvFhgWBBO4C+BL+1p8RO+RdZ3EZ2mKMt7rDtAUYRqfN
			C4yXDOK7S5Ww6twRrbStU8d0b/oGutS2RMb6NAwkm+jKWDYsF807
			BSogXSW29THKDRI+c25tuQfkOWq872mPVr6ri0fWrRKRlQ7cn3Fi
			5D8m7Xq8cF6osVMX4vTs0L/AbGAjchEtK1scq/2WSII/7H5M1Aak
			ArBJ1+IVUXfJuux0kGlooep9ZhQv1KJVS93s2hGjJ7YtfBrU4ZrE
			z2pw8dDXHRmcYI3FWKQ0pz2jiuxTPaCzJtv768S/08U0x37eQcB+
			35ZP8lX2tV6JFnLvkrXkz1+wLtcHt7ggMxcKAE3dADyaSXeS6VxQ
			PmqX93AdI/flgTblcsm7l2ACcx/VJ1Wms+lZ4Dozf8ew3gcqOp3U
			ubNXWBlMaOnuhRJxu78wRVUKZUtBVMTgH0cJU7V6Y0OeFqrN0AX1
			h93ghSzH+91W2+D5HmXk/5kpWdvTrdO519y/JUobeO1GU/WDjujZ
			4ngmJo0h6EQ5IGs12U48q61BcY3YTjN1YiSu9npNwnvOvLfaiM8t
			nxrMO58Aim0y8E8OY6XQ1u3YNnnLB34g1FPyO3vWA6J3e3belNfv
			N+IbxmXuuAUm4MNPmuxUhSxJwjjFRVJcpDqvMhtv7U1MrIVsY3VE
			fui4E5abG/WLN0rIB0e/EWIcdZdPEmE7sll9VLh9ZZ8ghqtN+uQA
			Urws+DYmcax10Buvepr/aoeQkr6dinxhh6JPgTRTcIID41qRVQfU
			kEXu3lXWZY5wg+qkuCdpjbJFvlOcTq1NptlBrIL3qtwpHpyloZui
			EjNf45n/xRk1RdDY45y0cB0enu0SGaaYGmV3jSXCLTPewbBo8zXp
			pXtPU3MM6b3GQuZwf7f9tx/Qf+vFOf8/4HeF/h+pgyMCBkVjUG5Q
			9D3Q/wD1VDtUCmVuZHN0cmVhbQplbmRvYmoKMTMgMCBvYmoKNzE2
			MAplbmRvYmoKMTQgMCBvYmoKMTQ0OAplbmRvYmoKMTUgMCBvYmoK
			NjEzNQplbmRvYmoKMTYgMCBvYmoKNTQwCmVuZG9iago4IDAgb2Jq
			Cjw8IC9UeXBlIC9Gb250IC9TdWJ0eXBlIC9UeXBlMSAvQmFzZUZv
			bnQgL1FHUkxBUitDTUJYMTAgL0ZvbnREZXNjcmlwdG9yIDE3IDAg
			UgovRW5jb2RpbmcgL01hY1JvbWFuRW5jb2RpbmcgL0ZpcnN0Q2hh
			ciA4NCAvTGFzdENoYXIgODQgL1dpZHRocyBbIDgwMCBdID4+CmVu
			ZG9iagoxNyAwIG9iago8PCAvVHlwZSAvRm9udERlc2NyaXB0b3Ig
			L0ZvbnROYW1lIC9RR1JMQVIrQ01CWDEwIC9GbGFncyAzMiAvRm9u
			dEJCb3ggWy04NyAtMjgxIDExOTUgNzgxXQovSXRhbGljQW5nbGUg
			MCAvQXNjZW50IDc1MCAvRGVzY2VudCAtMjUwIC9DYXBIZWlnaHQg
			NjY2IC9TdGVtViAxMTQgL1hIZWlnaHQKNTAwIC9TdGVtSCA0NyAv
			TWF4V2lkdGggMTI4MiAvRm9udEZpbGUgMTggMCBSID4+CmVuZG9i
			agoxOCAwIG9iago8PCAvTGVuZ3RoIDE5IDAgUiAvTGVuZ3RoMSAy
			MCAwIFIgL0xlbmd0aDIgMjEgMCBSIC9MZW5ndGgzIDIyIDAgUiAv
			RmlsdGVyCi9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAHteWc83F3X
			rpKilyAI4o8Q3ei9t6jRiT5mBsOYYWb0moiQ6C1IooaoQfQWLUiI
			LogWXbQgCaLnHUnu537v5y3nfD6/Mx9m9l5r7Wuvcl37y3CyGRgL
			KENRDjANFBIrICwIkgFU9VQshEEACCQqCAKJkHBymsCxCNhfdhJO
			MxgaA0chZf5ThCoaBsbibGpgLC5QD4UEtD0RgLAoICwhIywpAwIB
			IiCQNA7qVyAKLQOogb3gUEBPENBGIWEYEk5VlLsvGu7kjMXd89cS
			4IbwAMLS0pL8v44Dym4wNBwCRgJ6YKwzzA13IwSMAIxREDgM6/sP
			CG45ZyzWXUZIyNvbWxDshhFEoZ0UePgBbzjWGTCCYWBoLxgUOC8Z
			0Ae7wf6ULEjCCZg4wzG/HcYoR6w3GA0DcAYEHAJDYnBHPJFQGBrA
			3Q4Ya+kCt91hyN/Bur8D+IE/zQGEBYX/Bffn9DkQHPnrMBgCQbm5
			g5G+cKQT4AhHwIDbGrqCWB8sPwBGQs8DwQgMCpcO2AsMR4AdcAG/
			UgcDGsqGABjXpD/1YSBouDsWI4iBI85rFDqHwbVZHQlVRbm5wZBY
			DMl5lWpwNAyCRaF9hf4M1xWJ8kb6/7VzhCOhjufNgHq6C5ki4R6e
			MC014HcMzkTyt80JhgXEQSCQpIQUAPMAYD4QZ6HzC0x83WHAuVP4
			3IyrIdDfHeUOOOLKgAXCHWG4HxJ/DNgLBmDRnrBA///s+OeORFgY
			gMIhWMAB5gRHkvyNjjPDHH/vcfNHw30AKxCOoMIAjqrA3ysbHBWh
			KCTC9+/wXyMW0jRVVjPU5PvTgH9hqaigfAB/AXEJQEBEHAQIC0uI
			AZK4ReA/cQzA8D9Vgv4G1kI6ogDp3+ni+vRXyl6/BQJw/5EQD/BP
			LH0UjrkwgPtvoluDxEEQ3Jfw/zXdgfMj/x3Lz1H+j0T/94w0PBGI
			X13i/t2e/+IHu8ERvn8icMz1xOJUoIfCaQH576HmsHMVA9wqKAT0
			331aWDBOC8pIJxyf/7QRjtGA+8CgBnAsxPk3XX631/RcaAg4EmaA
			wsDPnxZAQBj3jPwa2798OLFCXHHPBwbHyV8uGE48/+y1OhKCgp6r
			TAQ3YTAaDfYlwQ0ZtxMH/IVxcoTCfH6xGBASRKKwOHgAV1wg4IhC
			k5xPVEoMEDI5N5H8D7DGWBzZwWjov+45zxDiiUbjtPeLxriU/tr/
			EjoM5gODkEyMoSCy910q7jcdlCszeQss98uPcC6bp/II+E+gX3se
			UVxO5il7dm8Wva+c3N1ONb2ozr2nNMl66r9RX3U5vCHRsPE44MQu
			3mhouZHk4+DVroHcDeXKThZiZgETpZWAU48As7uuhPX4LdqcWR6e
			UhQGOTQH3h2aPpWdRVO9D8aWDVfKJHRIT4qGBaJNo6zv5n/gzHZI
			H2Vgv4QVYCHivbLjQ/lhb3/kSubAT1bteD6SwM1o0Tx/yzmRmMNR
			v5kSExFMK+MNRksGFsK9K71DXP4qq4+16cf9C15EzcqPZ0g+jH03
			eb8jYVTHjJE9yIABfb9QQP5piG4LzY3WTG/IUzTCDDKgD3DdZK0k
			8g/jLNB0TCzl6C6wS2eGBx+ecrAYJ1jgQ/let11v3dwybeENSIhl
			kBGO/tzvdn1fnmahOT1I4uTwklAxeEhT92KyI94njkn921eH+4yz
			A9WNujHRVbn+Vp0/swVf/BBwIXQJD3iBdbP+JNNB6iNFb9B/7GBQ
			tZq4/eU0ryXOuduqupx2jy50kMquWTpicRArciaaWCP59T6/lgi9
			CsWX4nSpd9qps6BRWjcMsymB+aDhEdRik415qFORYuQ0vflLkeKU
			4daVTbEvMKPIW9GkNiOPBNPcg+0G+5gVn91dktrKkEGtydSaXvPM
			VUu0tHJLsxV6B64emV4JHhNLIapG7Iq9Sxi9uozVlQviYjV/Elbi
			rQuWdrpiQNTm4TxvGPKkP+tqq4tX6RBP2LYN5pWHEfvpYNnbMI6T
			ONhWK0tt8uHpRUudYINbO/FojadyP9S1cyqOn8gyzQ0J6gdtFIaY
			jZR7EOlq89kNEbmMVC2QYM/ueOlM5LC+hll7EqXp7hh6xMiZJWgp
			j4VdWz+UBjddtvt0k2tdQ61WWpPDrDHvUMnL9VE3tk5QnTnAr7jF
			Mgf+VDZD/xXZbR1WIakjRvYdoiGqwlvKk5LNY4oK7MUZz9PpsZuP
			u71leYeWIxDipC2kGhrkKuZLR8JhxtfZzjoJckV4qzeZLn3os2eK
			kpKxiGu4+w1hWnztct19rZxdRSvvYoJrC70QYi7Lz/b5jEOFmc2f
			yskw0FswjRcpN6/W8WJWVsmHB++aQKU/qIDnciOp7oVNWsX0guNv
			PHaqEG48caS8bL2afBm0Riz55TrYaMCWmvvJiS69CzXHezY3708i
			jRyNyPfo+RsBkT+HTK580b2clGgz6F9skW//80isU1Az2ZumpmRp
			KsDgQERl3Wm6yvu7g2urRnkGKeld/ZJ8RxfZGKgiRxyCnU9is5il
			3YlgJdb/cI+a9/DT1pcUxiFSGn5jwyUKkReNOcclXDcLkC8Zre0r
			bAwj74fKrFIszNS3SyAYkSAH6QduNk07X/k3hCYL8qzv3JC4ZsV3
			11T9EUdXXZRe9u1NbvKBCkG1k3ndsoUiBus93nmlAz/Rm/kvuAaT
			JV7c3xFJmb70qIXzIh938u4T1xD7Cga12TOhincEya7cV7oTYmJd
			U6ncyyiw9vu2aypvjsIZFkZfWd+6G7R+h8Zuv/B9QtUZHdExDYSz
			lTKIm5ZtkkTbaxxDQRmY+lbaY8x7ZXDOfzFL4sGV0n5MfyK13v00
			4gMuQ4E37vc+33zI9ShNj6tCsoq6nvox1nL2+II1miU4QDxZL79O
			nL3yHm9zGWULy+bkulx5VH+yWkxUJX+j7ndHF76k+M2e5tct7/H3
			NzK709l9QO0/nDkIi2c9rZQmA+dXJ9jHQkm6oVrx6rzE/IBLy4rN
			SqeXYBvWp56IrpB4O8FVve0OIqfsRSA0XFAApk36ufLtnmpc8uXg
			F/KshTqLV6vVyF2QZVrsvrQW4Uxk02o1AQdcTdkRb/ZcFVbh6U3t
			E5tUeLQ0PuVRGw71nu2KTC8eDL1KeAfwp22b1WPS/VqTT5aVIeTB
			jeSa10fIcrrkIIjCru2Bmut+xqq3aqGEr3SjCyQupD/uxXa2sloT
			TNsMWmS9Qzh9IOx57Zpgc4dn7AJ6Yu+i1M3tBoXZOclbmVmN9vgd
			MZebgm921PBQo0kaFmqGYyozNbvHygjycggtg56qfk4hiTQVvECu
			HqnaOC+aeTFwzBmGfNyRv6BOE1/CdnhX9cTKp7fPpxTZrurBUc1h
			Am8QpNqFH5iPC32FL/OGKurYT3ZnZHdQTZwy/Qxcc5Ltb4mvoCxJ
			VMp9HaUwdqsspKRt4/hwu3DKDSndK5x2JBD+YznrmK7QiiqBAL/k
			Syf5G7LPWBdJUiLRTr0Z3wW/F/dX+OcVLXdqlVaOjGgNVOAK35cG
			N/K2N6e8Isw0Rq2VnV1foVJrSi/OUT2TusB6iSDtwvY276WWLpaH
			+lrXDL3ypcUI/Bp/PhQb/+F2lxJASvGwqKWvzzrYvJ3IuPxTbrvP
			lNtpee/j4SfuXPvbIimR9ae5DFN+DqIXQYuk7/cEGEzMyv2byogP
			7G5tx0Xahls1w2gQKm8XFshTYlhOxKL0v4YBS61HEVfrFRRa5GGZ
			+aKGiYMCT26CfIdmvxQyZMZw7GkTmQMgotmZCCZJ6+OwK9gd8dJp
			RtHoJHnWmDf9TYwfGy7QF1C2jwVYGT2Zf6UgflcrmuZ+UTq6do/M
			h8q51NmXbdHV7L3xu1LJcC3SAxPnd2CTxD3aGdRG990f92O4S8nM
			oRhTrQP5bZujkTQqvYCRi0/iodoH1neKjCiKNX1DKGvFoNxUs/qx
			i8x1/uxXEYfWjwAb13elUmYkaQf42zvK2/LyAwfoPcBsyTZ4n3fZ
			zWePG/ajhPmbvHVXTznb4VnWG5WaDAepkMH6IQvysTS9wvLXVVEv
			r3zMX7gCJ3GPmUuN5HmL3i4kywpamhH+/oS0fTz2yWU52WAof5nt
			iETesmM6v0Gre39BwE6pa5ORVINk9e51BThpxKWImlcwwLblfuWz
			dP3hHGalxnLnK6vp9mVWKhrhzZ/4dTk/uJkyP2tapalSgYU08d4o
			Z0WifOZFdQCqvfbvZjearXKs2qJOw1IdTWUZxc4ioysyGA0vudR/
			Tzi6Xxn/6JJTYzirU8os6tM0ORsni+k12tYm54d5hY3T3B/SAZG9
			1frxzMqWV6E5+fzAfNVc2uvbDFaDEQn9dtaKMebY93LvwoRk66PJ
			qtlXjJhfus20l2Y+5SndL6R9qh5jjX5nLkzWNjKUgErKG6TB810c
			ezjBo9L7aMe6WWnS6e5a1IC2ohug7uExkXR/V0rMdmyoZ4GyZUgt
			s4YZfCItSbaYW9c66P+yO//plWJLtio7ewH0JGIilne70QP/3lOG
			jCXmiYaPj7KxZBd0VfGdhklkkA7axBFHug0dHrHXkt6iP7uI23ZI
			ExbpG5lValN+fikJo5v7Foes4NycHyinudOV7PkOOxb8+PrUhQh6
			sa66yEU5D3ZzrIq1bLZywcFFm5Pnzy9er9hjcmTo9vb1DbhFm+2/
			/sA06KocoqUXfKb3leViKhlecwj1FmZqvP7jHKXdUFPHcf+ogkZ/
			ZEfKI68Ew/BuF8rMM+prBAlHpekSdJwZkBBCjty3QdVxpCmP3t9e
			uUhOCCMYfhgffhM8YSz85NsALBxYadcg9STH2MLZGdbWw3yrvOP4
			k6pDg4hVd/ISghaMuhLsm/iZTl3YQ/km3pXouEaTG4rTP3zWoxVa
			5PL+RP3BVwcTni3KMsos9ugHlQrV3mszXseV8wE36AXF1hN5lUYw
			ilMk8IOIAXe8KofOBWs0cbQ0hXLxmzlLuUMvvqKeS2W6qkuNyf18
			BSxTUgSxtI+ZD30jBX1Uhye6MrnutZgWJAdOWGstX4tAs6b3HPXQ
			azsxkaW3zsusTKkpMlwr7AESLnM//XaNuk3w8SaLeLSFEZm90NTR
			6wL/y9L2pVJzdJSxkQsdkxpX1Lh07/UG2I2eCXaXZCV4gdfnjJdT
			ZCVNOXtdZQkXdclUVOy3sK65gcTq7cuU1SHWEbeMyLv62DXS1r9Y
			UJWHB0z7Dmx7Bi0bUjsXu7Z4iZldHsnNwqdbu6Jj3tCfLvW1ICm4
			XZQmBv+YevTOie3HeIEv+hPcgaksgaSjiYLf483hxXTg3OH7TPL4
			3qH5iszF14J6n1kSipUAW1vV2/pUfQo+sp8ouknygyKeQYSybq0O
			FPNdj+nlVHFbqxGQHCS7mmH8RGT79AHv1071pLcoj+uyLRGjjQNC
			K9QxDRLrVgVkulRjW1SoujamWhOyb9NEhdkaD5MqFOSbqL5+lNqp
			eXQjLiMTuhzJxQFiHUIdJGE9rapGDPt6j9VN37IxM3S+t2b9FIeh
			8Vb/+f2gpGxiU6Kh2Hw8mvQBjaEUMfmXSjkyTh8E112mfJKx3ZdU
			W0EqzgvycxpVObPsItb1NvxLwSOvlNAw7gIKhMZn3s5HdyRPJqIn
			P9rnkr5yN1bkrIMHvI88xAbgWRH9uOogd8gkqSd/+GxYkh7TPYis
			vnZvkKpmqMhbROwT1XhYK1TIYUstyIqn7PCyk1h+tujq6YwmF56Q
			u35oOydlMsuE7MsmbOIKOX6KDH4Ug/vqOtk67WF7oLfeEzpqITx/
			4ryBkpDnIEGHwpRFFzbLxRglucjcFfJ7+2d+vmOIDzw/T9krgKmd
			PZ1smoHF0NYZUzfUcNoW0YRILh6EICWQJyR98bNf4pwMoxz1qx/b
			e1P3NQ5ZibNQ7TudoVSFGUurmrqUvj0mk5Lf5NSnthfOWj0emgep
			VuUcut1h/C7/GbYoCOU8IlsBKfx8ITtL0xJbW3tj6attP0GWAv+d
			Z4IsGsfTSbn4TzI58ZM039A30Lo083PhbV015eo3LikCUa6nMUUV
			pxq/7HNqtl6saz9+lLYxM3SBz1lKMJyWrTu/SjH+p1jgRb7O3u7d
			7NRtqGrvWLbs/sZ1zY7m8uchuV2dlhzKVQkM2YWV28NUMA/1egVK
			ghYj3SLie2chOh+VbgRMqJm/TIsc2RUy0K+8ZDuYLMoL0tlburvW
			cTrdVcsTOEJYqr2m58Q+fEP8SOqrXbNTsSpGRLVakl8nPZNyNEOR
			qL+xf4AnayU5QuwT2RHFtDAHfjuqofhxfS09nRarBSTd4MfHoIe1
			wsDzNSLwt3tLtnmdYqd03RIsI0k8Liy3X0yC6YAOMLktyvc02jar
			eJhLmmY25eEe0ee3xZw5LXJy3gsF8q6KSf2EU2cuSiUGAcyu+1eD
			xZ5rnG0+wATyWpy++ajzwiU/7TvE3SY4KE1KrlVpMa4tVbTmuUv9
			skh6+D3OZHxpSf3+nRt+QXG27W2PCBTcdN/o6i9K//B9uFHZxvhg
			kwgPAI/zXBpgNT3hURNU7BvDG5NuSi9zFDPaFynajhmyqK/vJSfy
			5rhOaWfkx0Rk2evJ4zE/5w8c0exT7BGJOi8ab84+/WxAN0et1tOZ
			4HOJR4poZLODKJFzLKV9Oc7QRu4DqqPXcTAyaMzxqbzHs9e1tNod
			xSVqbJZTzaM6akzdw5C2H+vcy3I5Fgxv4xgE01dZB2+t1ZOL3roa
			8RYvrFA7dq+d0EDyICGZ4/31WCO+OojpfDGLick8PncGD2vNibqO
			LXSKs6qV/duZcaSgTmdRJleApEe496jmKePHp0cZN+bMHg7pZzd/
			PEO4DUt4iFhrPQieS4lqmMbra9nMZY9QAovydJBkkeLrS65qS1ay
			XvgwLyxZuDymU+XHqy7LMHvY08dAbY/ixFyn6TZS5OK8Su/bRh9R
			ZGGeomc2UR6oWth3yNr3Pt2pZbXQkYv/nfXHse3vc3LWQh2bIVNV
			Fjl0LxUlElADW2/mNe3OPoVknYy57SSy7L9q3NRHsHGPTKQ/3jY6
			/qA22pRhIxCO/2PJ4Lsjz81NrxOxRwPFberaZsH9VtItbnmyBBGb
			6DgKNAFbNGyzb1O2ysd2eCt0Wj80tTdtrSTeRdL8xTrH08rhhEsj
			l5PGeyq73zaomGlyB8/Bl+itlrTyzZXllOpWF5/Kl0vsK5bRrDnh
			UUfdIDfp0SzcuJJ9F6SP0RXfm8DrX4vXZf3u+UggBl9izMnO64iA
			RHcFladeVteVE6TFU6XDJmrxtd/79RVSPF3DH8tX/H+0pWL7YUmC
			TPuQLmsBonzlTOXUtpt4onqU3TQBMxWLM7DcQvfdVxg6GlspHeHU
			Y19eJ6Gk7Y6CScmSdWOATA5Oa+XyLgnScWrupZNHzPhu6qWPhUUX
			B4EWKkwykjSmdX+aenSetEAbsiDTzWd8vSW08RI3kLLqDs6fvcC+
			+Q5jw5VSNrVg88z1+5d24yrdbd/NT3ZnLgfvU43Ga+S2F4FvvfWj
			RGih2uI2+qdOl9umfVkWP+k856eLa0fRihvfIufQyaSkt+IiGy9h
			WNmFdJJlMV78Jiv3FFrPSnXhTcXsQpfyxM01PmYpJV9fQ+MNzx7q
			7aQBC7+zDLe1CVGf8d2HcB226JcYz8jBBGhk5YQ8mkH1lYXid0RT
			aHKvWbA51HdmSlybMq5yaNV1egO0MXRAatzQ6Gw8o1O/FM1TR3cx
			5HrI+FHRtYfJ1Yg6h3nMDlP5mT/+hoyWf5U9F2Dsfjb6gawCPyc1
			vvTOJ6d8QgXpwh+DfQDVNLrPkS1U5vk4nfcckoJ1UpayPhlYU1I+
			0iF+ougU035BP97jwXrKBTG8Cikqno5Yk7w+4k4IXuuVmYJUI+P6
			AZ2ePpkNV7Hn32mnjYkeB07Iiso9nlrvqZZbTwGMTW0J+iNjUe67
			VFU/HdnFlZQjiXNWvjp40K7j2zDvN5uP8Zrdjr2u9xI7OcZvvONk
			R2RnU50FCntUui6g2WMxeuBXucqnGZBAlO1ol4C2UdeMn5oFe0w9
			i3GKy3cjHrWp1kM+/5lC5MVdrlYhVLU7qetQTB28FjkOXdieMHop
			O6X5VFERrP3GzIRy/szXdnXq5c9ap+duQXNP7CssRaJW5wcjAiIv
			DvovKWtDUgyNDnLJPJBQ7k+UU898077V7qPU+uxNirRVYy9Mf78V
			7mcEnt59O8JicFJx+nw8iWp8/WGPT9czVaXGs6hEPfd+OavYaNCA
			YsEp7K0sgaXJ+m4sX1ihkVWO64FT50B+9E9autAh+iTwxbAW9iIP
			CttXDmM75c2zE++IeRdPghnPNtE/Nie+BpTKyNRSmV3Uj1O53Wbq
			R9E9fcthB6xZpnaLouzLDYkbYljdpmqqMm0H/GqSJq0tfS0G1bFn
			HtVgQZ00av6ul2QKIaoJviSIZCLJmxlujomkXFWoHuHO+UKZsBX4
			2XBYIfWyJ0sFuVvbDEx/IAQ/M41ASVgWUFE53qTbCrTkzv5Az2RA
			I9qKr+D4cInIvmjXzfvYl/BjScVci01ioC6IyAM1rz3+5S2Qtjux
			PccotjRjpqqicrdQ9/OxT58wxq6whJHbWqRn0XKp2VJwZJpEU/HH
			zALT3XXYtfSoKs+aGqk1ckrROffHJ1LUah78iV3NXAczlFaiemS7
			85hLHdgxIZqBorY6EzLZz1sJxzWUqrJ0STZqaq88QTMEl5+TjeYa
			nljJ+4Wc9eQZZPPqqJp6JLhm4SXFFvR5h3z8CQqNReJFaj/ovXfb
			9DBqudMHaPXt43NHsTHKOwitOpbYbMbutxExll8Nin0Lclbh1Y8w
			nf6pVHiT19gkHCqtEH/9690H9Py5KZR+oYgzCyKrlFm8rU6FmP1x
			IDY1T1uJW1yW2UxikHCQ2t7hVqKmwFJvKcKtOOeHhTZnqpRQRjut
			R2HTlGKNujVjN/gSA5CfKSBrbvLq0Ur1ab0hMvaC2Zm+3QWa41r2
			BhY60SgmY1DofVuCpdnlgykbrAjlG76XnDtWYrlqzF/qRFuKLB0D
			qqc9aegawkh8QKrycslZE8qfs05lMXn9i8RzbyAqGyADb/druaff
			qKHhCRcO1xdy6kTcUcdBGfERJrVJjC9EDy0TSv2GeP2eEdIg8uZW
			cmjspO8kZYFCAviPvObkKekE25XijIPekJxNnwwXT4sUFGPbn0nH
			obso6WT1yurS8T+QulRdKljWdr/xAvLAiq3dzW31zlf9hkuF+Hgu
			guZ4hPXRfkYu84zcOnKRE5vFtuoIiTUPn4SGto/NW5HbMo6fVb/g
			eeL+hvpfPyT/qxfn/P8Bvzv0/0gfIAgYGI1FuYHRriT/AZLbsGoK
			ZW5kc3RyZWFtCmVuZG9iagoxOSAwIG9iago2OTUwCmVuZG9iagoy
			MCAwIG9iagoxNDAwCmVuZG9iagoyMSAwIG9iago1OTU2CmVuZG9i
			agoyMiAwIG9iago1NDAKZW5kb2JqCjkgMCBvYmoKPDwgL1R5cGUg
			L0ZvbnQgL1N1YnR5cGUgL1R5cGUxIC9CYXNlRm9udCAvT0FCWURY
			K0NNTUkxMCAvRm9udERlc2NyaXB0b3IgMjMgMCBSCi9FbmNvZGlu
			ZyAvTWFjUm9tYW5FbmNvZGluZyAvRmlyc3RDaGFyIDExNiAvTGFz
			dENoYXIgMTE2IC9XaWR0aHMgWyAzNjEgXSA+PgplbmRvYmoKMjMg
			MCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNjcmlwdG9yIC9Gb250TmFt
			ZSAvT0FCWURYK0NNTUkxMCAvRmxhZ3MgMzIgL0ZvbnRCQm94IFst
			NjMgLTI4MSAxMDc5IDc4MV0KL0l0YWxpY0FuZ2xlIC0xNCAvQXNj
			ZW50IDc1MCAvRGVzY2VudCAtMjUwIC9DYXBIZWlnaHQgNjY2IC9T
			dGVtViA3MiAvWEhlaWdodAo1MDAgL1N0ZW1IIDMxIC9NYXhXaWR0
			aCAxMTQyIC9Gb250RmlsZSAyNCAwIFIgPj4KZW5kb2JqCjI0IDAg
			b2JqCjw8IC9MZW5ndGggMjUgMCBSIC9MZW5ndGgxIDI2IDAgUiAv
			TGVuZ3RoMiAyNyAwIFIgL0xlbmd0aDMgMjggMCBSIC9GaWx0ZXIK
			L0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4Ae13Z1iT27Yu0oSgUkWq
			fCqwKAIJTXrvVTpKTQNCSUIS6SBIr9J7U6qK9C4CShUQpQiKVClS
			VJReBE7QtfY6a997n31/n+fkR/LNMd455ijvO58vPFdumggpIzAw
			pAYGTRCCCINlAFV9fW0IGACDxYTBYFEQD48piuCK/MsO4jFH4vAo
			DFrmvyFUcUgogWhTgxKIQH0MGtC54wpAxACIpAzkhgwYDIiCwdLE
			UL+AGJwMoAb1QCEAfWFAB4NG4kE8qhisNw7l6EQgnvPXI8AH5wcg
			0tI3rv/aDii7IXEoOBQN6EMJTkg34olwqCtggoGjkATvf4Tgk3Mi
			ELAyIiKenp7CUDe8MAbnqMB/HfBEEZwAYyQeifNAIoDTkgEDqBvy
			z5KFQTyAqRMK/9thgnEgeEJxSIBocEXBkWg8ccsdNAKJA4inAyba
			eoAhFon+Ddb7DbgO/NkcACIM+Ve4P3efBkKhf22GwuEYNywU7Y1C
			OwIOKFckYKihJ0zwIlwHoGjEKRDqiscQ04F6QFGuUBgR8Ct1KKCh
			bARAiU36sz48HIfCEvDCeJTraY0ip2GIbVZHI1Qxbm5INAEPOq1S
			DYVDwgkYnLfIn8N1QWM80b5/rRxQaITDaTMQd7AiZmiU+x2kthrw
			G0M0gf62OSIJgARY6oaYlASAdAeQXnAnkdMDTL2xSODUCTk1E2vw
			98VisIADsQykP8oBSfwB+eKhHkiAgLuD9Pf9745/rkAQCIBAwQkA
			DOmIQoP+jk40Ix1+r4nzx6G8ACswkaAQgEhV4O8nGyIVERi0q/ff
			8F8jFtHWNdLVsxT8swH/iqWigvECfIXERAEhUQkwAAGLSwE3iA/+
			/4xzE4r6s0rw34G10Q4Y4o7f+RIb9VfOHr8VAvD9qSF+4J/BDDBE
			6iIBvr+Zbg2WAMOJX5D/b74Dp1v+bzQ/jfIfmf7vGWnccXX91Sa+
			3/35P/xQN5Sr958IInXvEIgy0McQxYD+d6gF8lTGAJ8+EoG64/bv
			Xm0ClCgHZbQjkdJCEHFhsPjvdqLwGigvJOImigB3+k2b33azU8G5
			otDImxg86vSKIe4iXie/xvcvH1G0cBfiNYIncvO3C4onCpbwa5Cn
			UCRRVP8cgToajkGcqk9UQhKA4nBQbxBx+MSVBOALIcoUgfT6xW5A
			RBiNIRBjAMSa/QEHDA50OmgIRBIQIZzaQP+PuCYEogqgOMS/DjrN
			A34HhyPm9YvfxJz+Wv+6AZBILyQc9GEMA5cNca4OadmrVGb3FFoc
			lKNYT9+zFBUaLLSlInSpD9vNJZrkZE/oPtb40AnRsHVuM1Bx38ud
			Ht/0XajhqvUW3xHi0lh25ILFj53snBlN8t3luDpG20jywCJV5bJM
			Ca6L5CZnNF07tSLCscuEh9bvj+qO90mevEylGjd0QlsMWtsrS7P1
			mDmkzb98MiY0wXpNFyW2WP7I++R2P3g+xjoyzSDzqq5c6z4o0bOC
			branr3eSvpPzRXSQjse9xe/cYQR6ddleDjXxsxXmkw8v/Mwr8VjL
			ZPCFaTIqrSG6nszwp+5VG2w4LWys2VzhS26/4WSf7BAD+eKzz0mP
			nWRSScflFyxFIT7mhnORNfQoJO3izTsyUFovp59+4nTRCQ/V9Z4Y
			7Ria/XlHN03b6k13CN91/UT547KFL/51PM9jPRzCSJv/qEylX1AX
			ZM7mX/V3CH7Yze2aM7nDFzpqIWolle7UYqpQPCkd0hxoSS8mdt4D
			lV5udkGk7nPP2aJbO74+4scPN1tbVXgn3Cui0bEMMT6zNZN+mYUP
			DtYhIq9q4RlVMao+nm5zO34VXnM2ej1umCL/pz4tbhJfZ8fp42Iw
			MgBX7qPVtqiQWBbh5sirTz/Od0ZsXy4jjUeQlBrkPznYCmJ+3Y1p
			IREDeZQGxRys+RytkWYCBiBsrQ/F45sXZc2H2xwlex520ZAqfLh+
			8kOhOc0wUEfcTRk8cGQsVj/WJMDU69sq+JC5eYFBmn4uFHVn8Y1+
			8oKhEq2TvxDjR7648/eYjHqDVxLvx7Qoz2415UXzj1Sxj34911Iq
			H0QlLP3oc/balpgjO9tmtvwFLqtWO64T2AnG7uJ3FQ7zwpmD7nv9
			Z+s3LK5yfWUlXajPyXo5C91YwdzWwBsm8IckF/KsI0Q3mjxjDJ49
			HdFS2Fbz3/5O9TEnoetWyoWWr7VVEOfb5cGOpRco2yCw1qZsncdQ
			P/tWp9gS2F3+F563gtfhVrxg5+Tv1ZYkN7z3HEGM6U6sJg2hD3kp
			7vozYI+FhlcdxmwB6OGYHaiL3VXcx3xlcxltvDnbxmkXi1SqqBEg
			9fFLTUixQAk3SA/wx/VkZKmEmcTN4MXe3L/vkn/dNgaWmPndp7+J
			CkrTHypup0I5v8pIwTB52D14AFkXHJqgHzlD+8Wirlq0D4vJVjvM
			fhJJ1uql0OcwrlVzYMVlY6q+88I507g3KkBE8JBmYYF5FchMp5ty
			lVrwsZxMxFZv5WXlaF0x350MQtRfqQ+URYg/LDAtov0gIXN9/sCD
			6Rpc977A5JisoM+bi2ctYyoYfM67AJcKjUZmPLsUoO7dMMlFSKz2
			QdOgLh1vqCLy7bvdBPmIVYemernvzro/40a4XRpdd6Z57LbcuG3o
			MqTnhTqD8xcvuUD1+u+yTe6nm765CfF9G8TIxoTOj4x7l6sx4Qsz
			fT7Q4kAZ9ulr/lPfSL3hNd6I9nZQn2WO9Hxf8ezB7re6GQXFIMaJ
			hVrT/Pe9mG/GnpkjczKg8MtZyKZ1kMgGdWTzMifHCxZm78OvjRf8
			Q/LDCUsTlg+Dm6/eCNxwJ4TMOhz4tzMsDSXzV4ZJkZsYj1imeF9i
			kMvG14o6pxjatswFN9PxtJ+7b5bTHDrrqzAaK5JfVvFI1Q0zswge
			5Cnzf4D9eAnx2deJWVwhiiHqrK2nWvF3JaTRFuJCJ9kqFIW4NWQ7
			q9RWp0iFPYcSk+WoDlLpalLmRB4eXu7Z2j5HNnT1qS58ZckOBNpS
			+PnqpylmSL5QgIOx8VX/gXdh4IdrWEZK7gyzQQ5ocWB1YI6Ekeht
			MRmWnAb2XrlbmkO+kL0TuLk2ayWZJJ8dTv/qXiQhFBEYGDz12GAt
			TNQGjoLO7Yhvnsivc77GZTzz8P5Y4WQr8EJL90OVn/XW+1uRnox1
			bPprBWLXBeo6ozwk/IUfF0kXX6rMuyoJbamlv4C8tZLpH08m+UjU
			XzcY/M3OvJJ58FnM2Y8DIiWS7QH9keANF5XEiO5j128KnonTlqty
			n7RuxVZ2k3t5MDxn9A9c0BDizrqaBWO6wlfn46JmZAwjyNb0XFhx
			LmzszHGhWTBg3RF/OkIpvp+xNVMzeeKsLJBl7zgcbvS4qpqar/iz
			bH9QpdF5M64QVSxs+bWS7F6HKok0coVXw4ovGvTwZ+h+/H6x4iBL
			LI4k6mt6S7PdVnnoWfphB0Mqi+m3pPOleaV39sFTuwmxLiKJ5bwV
			EtvnXg2X7te9e08dVCU0o3fL/PZj2Bdxy1yrAfCdAWdmBfVRl+rA
			6iuWXe168a31ew96EszSKney5gH9cNcDUy2OXvTwsXdWJ9Ksu/vk
			Jz5UmXwyOwoTKsY16GfDBVTYZCwssfs0BU0ZlPOmsCVrvjODKNWF
			CYtIk8r2DGmfWX2j4ZPMXdwaaPZeRJeUzHXcQdLLfTafk9obVO3p
			X3VPS0ukRoDn4CMsxSWp4uetKm+M19t65/JvaV4F1SbP08msvev4
			0ZcUm3PNl+/p1LNe3qcU5Opld4GG5lsx+0wOOKRXBTKkjTtoC0xZ
			ObDKk+ozMIuN8PO0/HhUTpfk/ri83pCPos1a6PaVGNbLuWs6HSAt
			fg6c0U58HaeRxE7BXVMWmJ6/iMKghAvDF5ZdeSPPh4bHN5glfkZc
			Y5dJGb/+0MyOWe+mYkJdT98lA9XyJRP9nXeo9XfnJxRSLtB3v9mN
			WDy3+ENMYNz5mkVHjtqq1HI098aI30bulQaNqJm+gajGY7aVCb0k
			Wbu7IIRRqo42d31zasetXr73LMxuxu7LjLsFOlYsiQEOY3Rk0tdT
			n0jWfLpkBzkoGAnwBGierT3iMLlOoQi5rxhMRbM5pjzaNePtyndv
			Xu9M0xvCs3wusnWzeIZvX5ap21mfuCkNCzAfxpsyScd/VG8iLbIw
			dBSaSB17EUNbqbWCXWK5ANWivHyVytqn8OglncjwyOUQdWdzCt8c
			SOQmZCDYtCrFXO9oWMLbQtfPJ3B4cz7tu99EPeFsobMKYiXUXL7c
			54PYRLvpmE5Ay5JVdWvd8Tsx+yOP/GMsGhdsdk7f3OJx1o7wZ8Zb
			QoTljPSVyqfVoj45734khBSRhIPkTCQJkDrXzin7Z7DMpSiSvGYS
			7TXmIU47/pzbGZujdkg69QsmhPNFZnCJL69V55Si72G6JOh6vPTU
			Xrcpp0fV3z3qMijmfGtMBehFf8126PZaElXjS703gM6vnhjL/oia
			jH38ZuhRDP58x4eW2OBPB8K4aapKssub6laPhMjKjhq+bF9YDi4N
			8nmeungfV05Buzo7zF2k8phGj1QkKv6zTKMK8zYwNj3OG6jJnjs8
			CLkjCbbB2weBErdS/DKbk/iqmMXzZkr4Vr6rVB8J0bu0PGvK7U51
			KZrbOnyme7ncLXpKadquUPmPpfH2280j7QxU17mNkdRuo2pWZE9j
			22OxAf3fy79H0lBaTiYpH0m5Kft82P6cTY5oNZC9upARwEI5lFja
			ip1p2Um72Miqqll8ITDJ4G1eZVznjJ8soHv2myRdu/LM7miPvf1C
			q7OMCA3pJZLbNfcDT47NinkEDiTZrd9v1qsszSVNJMj1rS7ejOHG
			kjk/DWzvXvHsIIQKokqnUeWFOo9Hcxt+jgLPzYq6+r/jl2815ziH
			+j8EWb8kaKmunl3v27+cIQJSm1sEnvVR+6KQnfPnMsjK5B5UsLeu
			vjnyeynsmwavDHfdA8cVRPCVME/cVaVKF/z2mqOR48PtxmMsN8D7
			gw5aQlvLrf44UUMr1o2Ef+bSdKEYRRlhxngRleXKDebxcrlypJoh
			Eyi98tluUOiZv0uA3pDS569lL8/3a8p32j5xer/K71KR1YSiloKN
			JOwp4W0v7XlpnggnhFHRrrEY7oZl3o7+5lwxr8FkOtny9vx1buh6
			MJvxx8oDvENybUHhe2u3QLgLBFMluHSXKnxgaYY88IX6ajhsPfq6
			arn7Zgdv2JEl45p2QVb3aDo57rn1x/qX916dfDo0RmLsPRLnmnGI
			S1jFL29GyyuyHd6pDl6krHo01mRBsYMNG910oXwYPNirnM9Fx/fB
			Rn+BdZyelpqOaWcy3jbo6dA7w5Qq16k3b73lObZKbX0k1GOCWH24
			j+/1w79Og/tdTKKw958rfyd1KsHhaUKfR9hT6LxOOnaJbmka0FR3
			GuVdVrwYHAoUMM6Ws9un5MwrSUdfScdYK+klQU3TbIwJNF9ofdoq
			/mATeLFrJhsmpD7EthiahHlmCvs01SaxUNHQ9vO5aHKrwpMvul7u
			Yh1Fs6/sCCWcT7NW4t/6DVmM80SACwbkl9QTlCqak4XXRW1ncTVF
			Mnl8nFoKZcjliZsDUzWjshW773vGH4T4u1lkrwj9qNOfUx70wdvj
			Yf7xuTEfjjrwjUpMdkn4FhHStNx5jYi2EFrDRPWXT9Jcv0VPO1lr
			2sPO7EAvSxVmNnDzTW/02pqJMVa4Z9aObq/Pb6pSXH1y4tEW3bjt
			fExPEquYnncw2a/MOdKwJCFcipdptelhl9USLQ99Xq3o2lZbDWdi
			WDgmuVm0u3UFSVXwcVWIAIl7L8Im0pMAkwtLSZo8cjkUWfSdoVwZ
			SsZkDeYzhtx/3U02/6VISpOHPhI72PJqrbtB/4fMSMoB+uglN9wk
			cI1d4srjxNxmcErUpwml0Cup9QELatQj16Rkz919sFF7sokn58yz
			Xa2Ud1T9/jChNmhKcX95bdznrGysnU1SCy6A+FdQK6kiUoTwk6Zj
			c1lS9dENTce4pvT9V+wytPsq8tLc22d/9KyxcGcJNEgmbB/0OuFo
			t68EU3Mhy2SX+y8EDlt0CZciAnY1j8Hq6XOD1CSF00qQhfqiWC9U
			ZZT5Y/dzCQONFU+Sn9KNYT87Fhqc8fS2mRmzzp7Ei7q7fTtWzBV+
			X6Rbf7Aj67u9bdokfo8urD3v5f0Sg4fro3SzlK0ua7OdiFmvF9pO
			6vI9wSURRTaJNjjANLHd/3zzN+17h1+zRKdYy6+dLwonzzhe7bKi
			rkwDvUuE3znybjIzDnKZJYsnvpHU9UWyP3kd1BYW4tdieXM03/x5
			F9+Kz/TQqpuvx/O4DgOCQN7Aj0w4HYlaRtUAWyKNnSzBZXRaKCtn
			VZyTp6SknkKjdH89g/Xc3tTXarYzZMqGeXzlYfhXDlU8fJOH2EG1
			j1pXRXkp0oWwUTS66wGVkbD5LbEr8nfUN41WktOo+NbU5GRrnCs7
			+xoOZj5oL+6L4pk4H9bPHCrXOoZpJr02MOmJgneLjv5sHscxCIdN
			zd94pxpnq6qSPxe9XMkkP4WLH7JP3WDKdnV/yidqM9WWYYBkz9Fd
			TgbXcH5RLBnGQlJ3f9DYxqZvXGC6SG9/M8DkhEted+pEUX1/SZc9
			K4u3RnAzsgBnzS1KzW01HiPiNYYVayVZ+3TL7EGZezBFnQCpfT4O
			eLSrTPM0yUyqu6cLEy+AxZ/j2D+vXrTj6lICU0IbCW4OyBonxKBz
			EyNFvd+EVTCHfKj3v/xsWXflva65afC1J1JsczG5KVh1mVbPvpzc
			IWZ1OANNUl5HWYe89vZKZIlOj/33V8mW/MZe69OJK/FknV7UEkPC
			E06l16ia1bRYV/M+gHtJ4XUBL5qYdYrOzYc1rgcVybiTM3f3Onnr
			TtUea8jK3TrJexv6M6DDb+NJwwz1KD3jlqkIru2omKtiXbkTttrS
			U1B7uOBaxuPqswXOhAbgPyep3VQ1ENe1rp/aWFJUv/bDGD28m3J1
			dc7l2lTeVqKSSf6Bnw4N/8mWljU5OyWT//XkYQ8zRTU5/sD+1HWb
			wqyjwm8pz74nln2aXtF820P/IomCpCHTlHtZW39nzjuaJFOKWVxE
			n9OvsqHtWp68vSRbNwUpRQLhPOOglEvfZdTDZUo52H5Kdl7TGdB8
			HkuE4GVZ+fNZ5Jof7971kaK7YYLD8oZVc0e6bC+8VpqnqitOj4bq
			B0a8TL3EdK2vGul3mL4Fq/h0OYPmHEEvXGqoCpzWF+H3ZmS11fAy
			/4z720U6jRQCdaphHmmBvFd1UXMXRfTE+ffFdktd8idJdEeCaRXD
			htKLYcr+AywPrGnmvG1pr8t72cW8eGJG8ex++8wDSUOqcGeViXkp
			xVDFkM+LahTPYkkSOKzitrzVkj+0nXWzKLa7lgiLhp6k+nny02vb
			z9I+7UBBoX7QbvxzIWGdHFPsVbFeZSXeJW+l51+ZP43cE6GkDCVt
			T8WI7NwnDLHReNGkbG4LDjAL3Khf13pjt2ckt8UC8cAbBjYFm56p
			+ejyTiINYYk/SNWKqwpGuFhgbyy6exsPy/VcnvOikd8SyvaIIP+p
			+YbJv/JW0zcfeMboVsUbIX4U6Q8387EZvjK9zNR5C8foR2eOcYPy
			IlW0bbwQDVN/dZsfLWIPZkpMeDh49Ru9YwtuqRYmU8P25xuLYwWp
			lT0v6haAdp8DHE8TsqkL1CUXOF0tcOFylOLHe/p9dmw2phEZAX+k
			e1RwHioaeYOcZ0Pf5hbOJd99QZPuJ1QJ16MjD9mqNSWnz/vmE9BL
			T0+afcKud8AWdmO06Kmm4O32/jyVmKqZqLZV+UYqAd6BINMbT6QC
			7obHX0sfnu1uc015KcV1sZ6ruut5o5POYUPxi3yOh3zOsSewRQFm
			eT9CDPt1+HASmKEL7NqwXln7Gi9n3uxJUtYDGU7efcAlwHVfgzV4
			I02otONjzT79XR+MRHBv0eSTGkQZGZ363aTDPt4OpnvvKbtLCvfu
			6jUJK4Jrp4TezU+Y2KueI7l3wx1pmlnIXCIHK6LBYgnVDdPDlQRT
			C0P7MI7h7+LChl7cXolen+l/xO1ZNrLml/U7SulqMtl9A9dcCRrD
			bPkUWwR/H+hHyfRQWrQIbpCn6da0tP0cMyX3/PwI7x5uWtbqdE8S
			N7G6oZfEK2NxK6qzJSMBmHd8XFinh1CIiQwn1T2bdV7pUOyd9TcT
			AxmpBwXMfziSrxTPUJkpTvMvjBrDeIYOJzAxDYHpywpRkufnO3sC
			+NOpDRNBTx71WHpKvBa52j/n55JRyodk5RZhmdZ50qpJ0zibdLln
			+0UuB1h/G3PNCTtkusLTubF4Rsg4n0+hSGDwgHq49EuvqESEU8vy
			erOftrDEnRf2RjcLdsfu8dv/eJRmZNRTv8L38+yueJIES0qNbUnw
			dMg9Jv2ZCkwEJ5WEpoC94mtjDf3S87MdgcfvBhzn41ax7Q4TM6Ro
			smOSVoluCC2irLAp4atu5xqDlR7Iu9GdulalvZ67Q+kP1og+yZUr
			FmuzoMH4A/WL9d3aTeuSe9cPtU1fcIfHHg96Z30I/5Z0RisVi2pa
			OjGHO+XasLjyfpx5oNExJdP0ks6wcIX7Wm8U1RU1mVKSaHqSUB5+
			0rNMUJb5LH2vpKPenqt2emkHihwvEQwCBzLhY+B1UZsbXnxfmsWx
			NOU3pVoEOITJPSQ4c/H9MLntuBobPaMw8LrAXr3u15RxwQYlBaSw
			0ATm8cj95WNV1nJWWvLUB92Brn10691D1gGsxoIXuT06MKlqRRkT
			jmEzVMfeQfur+ctQrohzn9UM0LhlgfWBnXKf/HKnveAPe1ZBvMVd
			vOHtJ0ujP92Fy6P79jjbpt4WhV/qHCxa63FNNvcS2zbNeXxuh0cP
			5sNGCTPxGamVw8jEvzN5jg4IuYTy9LsprP/uMPqiKhv0aRbva1Td
			+HB1uMdZA1/fNZ4JIauY+VyhdMG8JgZhjBLHRKZeXMVggFoExwj2
			K4FfOS914+yd+rq87GElUvERzDZ7WWfpKlP/3EMaKqCEnzWzSlO8
			f+sPlraOu6sfop8xQiW3t7PKIJbgArS/jSDPN4TxBdLH3yOo1uIy
			EdFThq1xUeEN2zBRNbTyWWo/m/WLbCxPgqgg6jOf6F45HDDvJg9W
			MSpO9DJMPAp+xMMI2JZwdVtzHFEP6fbAPEgLzKPhguMLV3T6dPzv
			+pE40EtjzNk0eQwV1PQPMqaCrY7YqstEH7B/V2q0N1EdB2uPs9aP
			JHXC02glduxmf6gcGQJcac4ZnM8Wvi5c5bLIH3pwyDe96oWkIi9R
			NXzFO5R4r90EO2BXHHZxttZXT7hH38c4MCEv2sXly1E0+D98QP/B
			D/5fwO8O/Q/pA9wVCcURMG5QnAvovwB9TeDpCmVuZHN0cmVhbQpl
			bmRvYmoKMjUgMCBvYmoKNjk4NQplbmRvYmoKMjYgMCBvYmoKMTQy
			NQplbmRvYmoKMjcgMCBvYmoKNTk3NgplbmRvYmoKMjggMCBvYmoK
			NTQwCmVuZG9iagoyOSAwIG9iagooTWFjIE9TIFggMTAuMTEuNiBR
			dWFydHogUERGQ29udGV4dCkKZW5kb2JqCjMwIDAgb2JqCihEOjIw
			MTcwMzI4MDMxODI2WjAwJzAwJykKZW5kb2JqCjEgMCBvYmoKPDwg
			L1Byb2R1Y2VyIDI5IDAgUiAvQ3JlYXRpb25EYXRlIDMwIDAgUiAv
			TW9kRGF0ZSAzMCAwIFIgPj4KZW5kb2JqCjMxIDAgb2JqCjw8Ci9F
			bmNvZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVT
			YW5ub3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJy
			YWNrYXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFja2Fn
			ZVt1c2VuYW1lc11FU2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNr
			ICV1c2VkIGZvciBmb250IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdl
			RVNsZWZ0YnJhY2thbXNzeW1iRVNyaWdodGJyYWNrICVtYXRocwpF
			U3NsYXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmln
			aHRicmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1F
			U2xlZnRicmFja2lucHV0ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwg
			dG8gdHlwZSBkaXJlY3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwpF
			U2Fubm9wZW5kKQovRXNjYXBlZFByZWFtYmxlIChFU2Fubm9lcCU1
			Q2RvY3VtZW50Y2xhc3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUw
			QSU1Q3VzZXBhY2thZ2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdE
			JTIwJTI1dXNlZCUyMGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3Vz
			ZXBhY2thZ2UlN0JhbXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1
			c2VwYWNrYWdlJTdCYW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVD
			dXNlcGFja2FnZSU1QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUy
			NXVzZWZ1bCUyMHRvJTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3Jp
			dGljJTIwY2hhcmFjdGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVj
			dCAoRVNhbm5vdEVTc2xhc2hoYXRFU2xlZnRicmFja0VTc2xhc2ht
			YXRoYmZFU2xlZnRicmFja1RFU3JpZ2h0YnJhY2tFU3JpZ2h0YnJh
			Y2sodClFU2Fubm90ZW5kKQovRXNjYXBlZFN1YmplY3QgKEVTYW5u
			b2VzJTVDaGF0JTdCJTVDbWF0aGJmJTdCVCU3RCU3RCh0KUVTYW5u
			b2VzZW5kKQovVHlwZSAoRUV0eXBlNEVFdHlwZWVuZCkKL0NvbG9y
			IChFRWNvbDAuMDAwMDAwIDAuMDAwMDAwIDAuMDAwMDAwIDEuMDAw
			MDAwRUVjb2xlbmQpCi9CS0NvbG9yIChFRWJrYzEuMDAwMDAwIDEu
			MDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVia2NlbmQpCi9UaXRs
			ZSAoRUV0aXRsZUVFdGl0bGVlbmQpCi9NYWduaWZpY2F0aW9uIChF
			RW1hZzM2LjAwMDAwMEVFbWFnZW5kKQovQmFzZWxpbmUgKEVFYmFz
			MC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5kb2JqCnhyZWYKMCAzMgow
			MDAwMDAwMDAwIDY1NTM1IGYgCjAwMDAwMjQwMjYgMDAwMDAgbiAK
			MDAwMDAwMDI3OCAwMDAwMCBuIAowMDAwMDAwNDcwIDAwMDAwIG4g
			CjAwMDAwMDAwMjIgMDAwMDAgbiAKMDAwMDAwMDI1OSAwMDAwMCBu
			IAowMDAwMDAwMzgwIDAwMDAwIG4gCjAwMDAwMDA2MDEgMDAwMDAg
			biAKMDAwMDAwODc4MSAwMDAwMCBuIAowMDAwMDE2MzM3IDAwMDAw
			IG4gCjAwMDAwMDA1NTEgMDAwMDAgbiAKMDAwMDAwMTE4NSAwMDAw
			MCBuIAowMDAwMDAxNDE0IDAwMDAwIG4gCjAwMDAwMDg2OTggMDAw
			MDAgbiAKMDAwMDAwODcxOSAwMDAwMCBuIAowMDAwMDA4NzQwIDAw
			MDAwIG4gCjAwMDAwMDg3NjEgMDAwMDAgbiAKMDAwMDAwODk0OSAw
			MDAwMCBuIAowMDAwMDA5MTgwIDAwMDAwIG4gCjAwMDAwMTYyNTQg
			MDAwMDAgbiAKMDAwMDAxNjI3NSAwMDAwMCBuIAowMDAwMDE2Mjk2
			IDAwMDAwIG4gCjAwMDAwMTYzMTcgMDAwMDAgbiAKMDAwMDAxNjUw
			NyAwMDAwMCBuIAowMDAwMDE2NzM5IDAwMDAwIG4gCjAwMDAwMjM4
			NDggMDAwMDAgbiAKMDAwMDAyMzg2OSAwMDAwMCBuIAowMDAwMDIz
			ODkwIDAwMDAwIG4gCjAwMDAwMjM5MTEgMDAwMDAgbiAKMDAwMDAy
			MzkzMSAwMDAwMCBuIAowMDAwMDIzOTg0IDAwMDAwIG4gCjAwMDAw
			MjQxMDEgMDAwMDAgbiAKdHJhaWxlcgo8PCAvU2l6ZSAzMiAvUm9v
			dCAxMCAwIFIgL0luZm8gMSAwIFIgL0lEIFsgPDUyMDgxZWJiYzE3
			OThhOTRmNmExNDdiOWQ2MzIxY2VmPgo8NTIwODFlYmJjMTc5OGE5
			NGY2YTE0N2I5ZDYzMjFjZWY+IF0gPj4Kc3RhcnR4cmVmCjI1Mjc0
			CiUlRU9GgAXSLC0uL1okY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0
			YWJsZURhdGGjLjAxVk5TRGF0YVhOU09iamVjdNMzCjQ1NjdYTlNT
			dHJpbmdcTlNBdHRyaWJ1dGVzgAeADoAIXxDSXGRvY3VtZW50Y2xh
			c3NbMTBwdF17YXJ0aWNsZX0KXHVzZXBhY2thZ2VbdXNlbmFtZXNd
			e2NvbG9yfSAldXNlZCBmb3IgZm9udCBjb2xvcgpcdXNlcGFja2Fn
			ZXthbXNzeW1ifSAlbWF0aHMKXHVzZXBhY2thZ2V7YW1zbWF0aH0g
			JW1hdGhzClx1c2VwYWNrYWdlW3V0Zjhde2lucHV0ZW5jfSAldXNl
			ZnVsIHRvIHR5cGUgZGlyZWN0bHkgZGlhY3JpdGljIGNoYXJhY3Rl
			cnMK0zoJCjs9P1dOUy5rZXlzoTyACaE+gAqADVZOU0ZvbnTUQkNE
			CkVGR0hWTlNTaXplWE5TZkZsYWdzVk5TTmFtZSNAKAAAAAAAABAQ
			gAuADFZNb25hY2/SLC1LTFZOU0ZvbnSiTTFWTlNGb2500iwtT1Bc
			TlNEaWN0aW9uYXJ5ok8x0iwtUlNfEBJOU0F0dHJpYnV0ZWRTdHJp
			bmeiVDFfEBJOU0F0dHJpYnV0ZWRTdHJpbmfTMwo0VjY3gBCADoAI
			XxATXGhhdHtcbWF0aGJme1R9fSh0KdNbXApdXl9VTlNSR0JcTlND
			b2xvclNwYWNlRjAgMCAwABABgBLSLC1hYldOU0NvbG9yomMxV05T
			Q29sb3LSZQpmZ1dOUy50aW1lI0G+ig2CF70WgBTSLC1palZOU0Rh
			dGWiazFWTlNEYXRl0gptbm9ZTlMuc3RyaW5ngBZQ0iwtcXJfEA9O
			U011dGFibGVTdHJpbmejcXMxWE5TU3RyaW5n0iwtdXZfEA9MYXRl
			eGl0RXF1YXRpb26jd3gxXxAPTGF0ZXhpdEVxdWF0aW9uXxAPTlNN
			YW5hZ2VkT2JqZWN00iwtentXTlNBcnJheaJ8MVdOU0FycmF5XxAP
			TlNLZXllZEFyY2hpdmVy0X+AVHJvb3SAAQAIABEAGgAjAC0AMgA3
			AFMAWQBeAGkAcAByAHQAdgCPAJcAogCsALUAvgDGANgA3gDjAOkA
			7gDwAPIA+wEEAQYBCAEKAQwBDgEQARIBFAEaAR8BJ2cCZwRnCWcU
			Zx1nK2cvZzZnP2dGZ09nXGdeZ2BnYmg3aD5oRmhIaEpoTGhOaFBo
			V2hgaGdocGh3aIBogmiEaIZojWiSaJlonGijaKhotWi4aL1o0mjV
			aOpo8WjzaPVo92kNaRRpGmknaS5pMGkyaTdpP2lCaUppT2lXaWBp
			YmlnaW5pcWl4aX1ph2mJaYppj2mhaaVprmmzacVpyWnbae1p8mn6
			af1qBWoXahpqHwAAAAAAAAIBAAAAAAAAAIEAAAAAAAAAAAAAAAAA
			AGoh
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image6.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-03-29 21:05:07 +0000</string>
	<key>Modifier</key>
	<string>Paul Ruvolo</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612.0000114440918, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{364, 48}, {711, 823}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {576, 681}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
